/* ---------- GLOBAL ---------- */

body {
    margin-top: 25px;
}

p {
    text-align: justify;
}

h1,h2,h3,h4 {
    font-weight: bold;
}

h2 {
    padding: 5px;
    border-radius: 5px;
    background-color: #049cdb;
    color: white;
}

.module img {
    position: relative;
    top: 50%;
}

.well .well {
    background-color: #444444;
    color: white;
}

.module {
    margin-top: 30px;
}

.comment{
    font-size:0.9em;
    color:grey;
    font-style:italic;
}

.footer {
    border-top: solid 1px grey;
    margin: 0px;
    margin-top: 15px;
    padding: 2px;
    font-size: 0.8em;
    text-align: right;
}

/* tablesorter */


table.tablesorter thead tr .header {
    background-image: url(../img/symboles/bg.gif);
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
    padding-left: 20px;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../img/symboles/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../img/symboles/desc.gif);
}

/* ----------- PAGE CONTACT ------------ */
#contact-mails td {
    padding-right: 20px;
}

/* ---------- MODULE ANNUAIRE ---------- */

#annuaire {
    margin-top: 20px;
}

#annuaire #liste{
    height: 500px;
    overflow: scroll;
}

#annuaire #recherche{
    height: 100px;
}

#annuaire table .first{
    width: 20px;
}

#annuaire #formSearchContactButton{
    text-align:center;
    margin:10px;
}

#annuaire .entreprise:hover{
    cursor: pointer;
}

#annuaire .editionEntreprise {
    margin-right: 10px;
    margin-top: 5px;
    float:right;
}

#annuaire #contacts td .btn {
    margin-right: 5px;

}
#annuaire #contacts td .btn:last-child {
    margin-right: 0px;

}

#annuaire #options {
    float:right;
    margin-top: 10px;
    margin-left:5px;
}
/* ------- ACCUEIL ---------*/

#accueil .carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    background: rgba(0, 0, 0, 0.7);
}

.logos table {
    width: 100%;
}

.logos img {
    max-height: 100px;
    max-width: 200px;
    /*
    padding-left: 10px;
    padding-right: 10px;*/
}

/* ------- MENU ---------*/
.nav-header {
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
}
