#stages #submit_recherche {
	float: right;	
}

#stages h1 {
	text-align: left;
	margin-bottom: 10px;
}

.offre {
	border-bottom: 1px dotted black;
}

/* Simulation des balises details et summary */
#stages details, summary {
	display: block;
}

#stages summary {
	cursor: pointer;
}

#stages summary:hover, summary:focus {
	background: #ddd;
}

#stages .no-details details > * {
	display: none;
}

/*Mettre les images de puces : fleche haut et fleche bas */
#stages .no-details details summary:before {
	float: left; width: 20px; content: '-';
}
#stages .no-details details.open summary:before {
	content: '-';
}

#stages .no-details details summary {
	display: block;
}
