/* ---------- GLOBAL ---------- */

body {
    margin-top: 25px;
}

p {
	text-align: justify;
}

/* tablesorter */


table.tablesorter thead tr .header {
	background-image: url(../img/symboles/bg.gif);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
	padding-left: 20px;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/symboles/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/symboles/desc.gif);
}

.module h1 {
	margin-bottom: 20px;
}

.module .hero-unit h1 {
	margin-bottom: 0px;
}

.hero_motcle {
	font-weight: bold;
	font-size: 1.2em;
	color: #049cdb;
}

.centre
{
	text-align:center;
}

.comment{
	font-size:0.9em;
	color:grey;
	font-style:italic;
}

.module_entr div h2 {
	position:relative;
    width: 97%;  
    font-size: 1.5em;  
    font-weight: bold;  
    color: #fff;  
    -webkit-box-shadow: 0px 2px 4px #888;  
    -moz-box-shadow: 0px 2px 4px #888;  
    box-shadow: 0px 2px 4px #888;  
}

.module_entr div h2 {
    padding: 5px 2% 5px 3%;  
    margin: 5px 3% 15px -3%;  
    -webkit-border-radius: 0px 5px 5px 0px;  
    -moz-border-radius: 0px 5px 5px 0px;   
    border-radius: 0px 5px 5px 0px;
	background-color: #049cdb;
}

.module_entr div h2:before {
    content: "";
    position:absolute;
    top:2.4em;
    left:0;
	z-index: -1;
	border-right:2.4em solid #0169a8;
    border-bottom:1.2em solid #fff;
}
.module_entr div h2~p {
	background-color: #fff;
	padding: 10px;
	margin-left: 10px;
	margin-top: -15px;
}
.module_entr div h2~h3 {
	background-color: #fff;
	margin-top: -15px;
	padding: 10px;
}

.module_entr div h2 i  {
	vertical-align:middle;
	margin-right:10px;
}

/* ----------- PAGE CONTACT ------------ */
#contact-mails td {
	padding-right: 20px;
}

/* ----------- PAGE A-PROPOS ------------ */
#about-team h2, #about-site .accordion-heading h2, #about-asso div h2 {
	position:relative;
    width: 97%;  
    font-size: 1.5em;  
    font-weight: bold;  
    color: #fff;  
    -webkit-box-shadow: 0px 2px 4px #888;  
    -moz-box-shadow: 0px 2px 4px #888;  
    box-shadow: 0px 2px 4px #888;  
}

#about-team .row:nth-child(even) h2 {
	text-align: right;
    padding: 5px 10% 5px 5%;  
    margin: 5px 10% 10px -5%;  
    -webkit-border-radius: 5px 0px 0px 5px;  
    -moz-border-radius: 5px 0px 0px 5px;   
    border-radius: 5px 0px 0px 5px; 	
}

#about-team .row:nth-child(odd) h2 {
    padding: 5px 5% 5px 10%;  
    margin: 5px 18% 15px -7%;  
    -webkit-border-radius: 0px 5px 5px 0px;  
    -moz-border-radius: 0px 5px 5px 0px;   
    border-radius: 0px 5px 5px 0px;
	background-color: #049cdb;
}

#about-site .accordion-heading h2, #about-asso div h2 {
    padding: 5px 5% 5px 6%;  
    margin: 5px 18% 15px -6%;  
    -webkit-border-radius: 0px 5px 5px 0px;  
    -moz-border-radius: 0px 5px 5px 0px;   
    border-radius: 0px 5px 5px 0px;
	background-color: #049cdb;
}

#about-team .row:nth-child(odd) h2:before, #about-site h2:before, #about-asso div h2:before {
    content: "";
    position:absolute;
    top:2.4em;
    left:0;
	z-index: -1;
	border-right:2.4em solid #0169a8;
    border-bottom:1.2em solid #fff;
}

#about-team .row:nth-child(even) h2:after {
    content: "";
    position:absolute;
    top:2.4em;
    right:0;
	z-index: -1;
    border-left:2em solid #009;
    border-bottom:1em solid #fff;
}

#about-team .bleuBur {
	background-color: #049cdb;
}
#about-team .row:nth-child(even) .bleuBur:after {
    border-left-color: #0169a8;
}

#about-team .bleuEntr {
	background-color: #32b;
}
#about-team .row .bleuEntr:before {
    border-right-color: #108;
}

#about-team .bleuAnim {
	background-color: #03b2c9;
}
#about-team .row:nth-child(even) .bleuAnim:after {
    border-left-color: #018096;
}

#about-team .bleuCom {
	background-color: #24c;
}
#about-team .row .bleuCom:before {
    border-right-color: #119;
}

#about-site .row h2 {
	margin-bottom: 20px;
}

#about-site h2 i, #about-asso h2 i  {
	vertical-align:middle;
	position:relative;
	left:-4%;
	margin-right:-20px;
}
#about-team .row:nth-child(odd) h2 i  {
	vertical-align:middle;
	position:relative;
	left:-8%;
}
#about-team .row:nth-child(even) h2 i  {
	vertical-align:middle;
	position:relative;
	right:-8%;
}

#about-team .row .span6 {
	background-color: #eeeeff;
	border-radius: 5px;
	margin-left: 10px;
	padding:10px;
}

.categ-services {
	margin-left: 20px;
}

#about-site .categ-services .span4 div {
	background-color: #049cdb;
	border-radius:5px;
	padding:10px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 2px 4px #888;  
    -moz-box-shadow: 0px 2px 4px #888;  
    box-shadow: 0px 2px 4px #888;  
}
#about-site #services-entreprise .categ-services .span4 div, #about-site .accordion-heading .bleuEntr {
	background-color: #269;
}

#about-site .accordion-heading .bleuEntr:before {
    border-right-color: #047;
}
#about-site .categ-services  .span4 div h4 {
	color: #ddf;
	text-align: center;
}
#about-site .categ-services  .span4 div p {
	color: #fff;
}


#about-site .accordion-heading {
	background-color: white;
}

/* ---------- PRESENTATION EVENEMENTS ---------- */
#evenements h2{
	position:relative;
    width: 97%;  
    font-size: 1.5em;  
    font-weight: bold;  
    color: #fff;  
    -webkit-box-shadow: 0px 2px 4px #888;  
    -moz-box-shadow: 0px 2px 4px #888;  
    box-shadow: 0px 2px 4px #888;  
}

#evenements .row:nth-child(even) h2 {
	text-align: right;
    padding: 5px 10% 5px 5%;  
    margin: 5px 10% 10px -5%;  
    -webkit-border-radius: 5px 0px 0px 5px;  
    -moz-border-radius: 5px 0px 0px 5px;   
    border-radius: 5px 0px 0px 5px;
	background-color: #049cdb;
}

#evenements div .row:nth-child(odd) h2 {
    padding: 5px 5% 5px 10%;  
    margin: 5px 18% 15px -7%;  
    -webkit-border-radius: 0px 5px 5px 0px;  
    -moz-border-radius: 0px 5px 5px 0px;   
    border-radius: 0px 5px 5px 0px;
	background-color: #049cdb;
}

#evenements div .row:nth-child(odd) h2:before{
    content: "";
    position:absolute;
    top:2.4em;
    left:0;
	z-index: -1;
	border-right:2.4em solid #0169a8;
    border-bottom:1.2em solid #fff;
}

#evenements .row:nth-child(even) h2:after {
    content: "";
    position:absolute;
    top:2.4em;
    right:0;
	z-index: -1;
    border-left:2em solid #0169a8;
    border-bottom:1em solid #fff;
}

#evenements div .row:nth-child(odd) h2 i  {
	vertical-align:middle;
	position:relative;
	left:-6%;
}
#evenements .row:nth-child(even) h2 i  {
	vertical-align:middle;
	position:relative;
	right:-6%;
}

#evenements .row .presentation {
	background-color: #eeeeff;
	border-radius: 5px;
	margin-left: 10px;
	padding:10px;
}

/* ---------- MODULE ANNUAIRE ---------- */

#annuaire {
	margin-top: 20px;
}

#annuaire #liste{
	height: 500px;
	overflow: scroll;
}

#annuaire #recherche{
	height: 100px;
}

#annuaire table .first{
	width: 20px;
}

#annuaire #formSearchContactButton{
	text-align:center;
	margin:10px;
}

#annuaire .entreprise:hover{
	cursor: pointer;
}

#annuaire .editionEntreprise {
	margin-right: 10px;
	margin-top: 5px;
	float:right;
}

#annuaire #contacts td .btn {
	margin-right: 5px;
	
}
#annuaire #contacts td .btn:last-child {
	margin-right: 0px;
	
}

#annuaire #options {
	float:right;
	margin-top: 10px;
	margin-left:5px;
}

#text-centered .text-centered {
	text-align: middle;
}

/* ---------- MODULE STAGE ---------- */

#stages #submit_recherche {
	float: right;	
}

#stages h1 {
	text-align: left;
	margin-bottom: 10px;
}

#stages input, select {
	margin-right: 20px;
	width: 150px;
}

/* Simulation des balises details et summary */
#stages details, summary {
	display: block;
}

#stages summary {
	cursor: pointer;
}

#stages summary:hover, summary:focus {
	background: #ddd;
}

#stages .no-details details > * {
	display: none;
}

/*Mettre les images de puces : fleche haut et fleche bas */
#stages .no-details details summary:before {
	float: left; width: 20px; content: '-';
}
#stages .no-details details.open summary:before {
	content: '-';
}

#stages .no-details details summary {
	display: block;
}

#stages #form_stages {
	padding-bottom: 0px;
}

/* ---------- MODULE ENTRETIENS ---------- */


/* ---------- MODULE RIF ---------- */

#layout.titre {
	text-align:center;
	font-size:40px;
	font-weight:bold;
	letter-spacing: -3px;
	font-style: oblique;
	margin-bottom:30px;
	color: rgb(83, 83, 83);
}

#layout.footer {
    border-top: solid 1px grey;
    margin: 0px;
    margin-top: 15px;
    padding: 2px;
    font-size: 0.8em;
    text-align: right;
}

#accueil #network {
	margin-top: 30px;
}

#accueil #network li {
	list-style: none;
	display: inline-block;
	margin: 11px;
}

#rifs p {
	text-align:justify;
}

#rifs .centre
{
	text-align:center;
}

#presentationRif {
	text-align: justify;
}
